.mat-row {
  height: auto;
}

.overflow-container {
	overflow: auto;
	width: 100%;
	height: 400px;
}

table {
	width: 100%;
	height: 100%;
}

.mat-form-field {
	width: 100%;
}

.container4 {
	padding: 50px 300px 0px 300px;
}

.mat-cell {
  padding: 16px 16px 16px 0;
  white-space: nowrap;
}

.mat-header-cell {
  padding: 16px 16px 16px 0;
  color: white;
  text-align: center;
  white-space: nowrap;
}

tr.mat-header-row {
	background-color: #007DB8;
}

mat-checkbox {
  margin: 1rem;
}

.color-box {
  float: left;
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.red {
  background: red;
}

.green {
  background: green;
}