.mat-row {
  height: auto;
}

table {
	width: 100%;
}

.overflow-container {
	height: 90%;
	width: 85%;
	overflow: auto;
	padding: 10px;
}

.mat-form-field {
	width: 100%;
}

.paginator-container {
	width: 92%;
}

.mat-cell {
  padding: 16px 16px 16px 0;
}

.mat-header-cell {
  padding: 16px 16px 16px 0;
  color: white;
}

tr.mat-header-row {
	background-color: black;
}

mat-checkbox {
  margin: 1rem;
}